body {
    background-color: lightgray;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');