.button{
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    padding: .375rem .7rem;
}

.btn-del{
    background-color: rgb(163, 39, 39);
    color: white;
}

.btn-see{
    background-color: hsla(197, 50%, 32%, 0.6);
    color: white;
}

.btn-see:hover{
    background-color: hsl(197, 50%, 32%);
    transition: background-color 0.15s ease-in;
}

.btn-swap{
    background-color: hsl(18, 100%, 55%, 0.8);
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.btn-swap:hover{
    background-color: hsl(18, 100%, 55%);
    transition: background-color 0.15s ease-in;
}

.btn-message{
    background-color: hsl(197, 50%, 32%, 0.8);
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.btn-message:hover{
    background-color: hsl(197, 50%, 32%);
    transition: background-color 0.15s ease-in;
}

.s-bar{ 
    background-color: hsla(197, 50%, 32%, 0.2);
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    width: 100%;
    color: hsla(197, 50%, 32%)
}

.s-bar:focus{ 
    border: 2px solid hsla(197, 50%, 32%, 1);
    outline: none;
}

.nav-bar-container{
    justify-content: space-between;
}

a:hover {
    color: white;
}

.btn-details {
    position: absolute;
    margin-top: 2rem;
    width: 100%;
    border-radius: 0 0 1.5rem 1.5rem;
    color: white;
    background-color: hsla(197, 50%, 32%, 1);
}

.btn-details-games{
    width: 11.9%;
    position: absolute;
    margin-top: 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    color: white;
    background-color: hsla(197, 50%, 32%, 1);
}

.icon-nav{
    opacity: 0.6;
    transition: opacity 0.15s ease-in;
}

.icon-nav:hover{
    opacity: 1;
    transition: opacity 0.15s ease-in;
}