.example-wrapper { 
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif; 
}
.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}
.btn-wrapper{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    justify-content: space-around;
}
body {
    background-color: #ECECEC; 
}
.card {
    margin-left: 4rem;
    margin-top: 4rem;
}

.card-container{ 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}
.title-orange{
    color:#FF5D19; 
}
.align-text{
    text-align: center;
}
.card-game-body{
    flex: 1 1 auto;
    padding: 1rem 0.5rem;
    background: white;
}

.card-games{
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 50px;
}

.filter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.filter-display-none{
    display: none;
}

.dispositif-filter-wrapper{
    background: rgba(255, 255, 255, 0.76);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    border-radius: 10px;
}