body {
    background-color: #ECECEC; 
}

.box{
    border-radius: 10px;
    background-color: white; 
}

.childbox {
    width: 85%;
    height: auto;
    margin-bottom: 50px;
}

.swap-arrow {
    width:auto;
    display: flex;
    align-items: center;
    align-content: center;
}

.container {
    margin-bottom: 30px
}

.font-style-title{
    font-size: 2.5em;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #FF5D19;
    font-weight: 700;
}

.text-wrap-title{
    width: 100%;
}

.card {
    border-radius: 10px;
}

.col-sm {
    margin: 45px
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

h3, h4, h5, h6, h7 {
    color: #FF5D19;
}