body {
    background-color: #ECECEC; 
}
.swap-game-box{
    border-radius: 10px;
    background-color: white;  
    height: 650px; 
} 
.left-box{ 
    width: 45%;
    height: 680px; 
} 
.right-box{ 
    width: 45%;
    margin-left: 35px;
    height: 680px;
} 
.element-list{
    height: 80px;
    width: 550px;
    border-radius: 5px;
    background-color: rgba(255, 93, 25, 0.3);
    margin-top: 25px;
}
.font-style{
    font-size: 24px;
    margin-left: 15px;
    color: #29647C;
}
.font-style-title{
    font-size: 28px;
    margin-left: 15px;
    color: #FF5D19;
    font-weight: 700;
}
.text-wrap{
    width: 66%;
    margin-top: 2%;
}
.vector-wrap{
    width: 30%;
    text-align: center;
}
.wrapper-header{
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.list-elements-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
}
.text-wrap-title{
    width: 1200px;
}
.owned-color{
    background-color: rgba(212, 224, 229, 0.6);
}
.btn-wrapper-swap{
    float: right;
}

.scroll-hidden-swap-game{
    overflow: scroll; 
    overflow-x: hidden; 
    height: 650px;
}