/* Positionnement */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

/* Specifics classes */
.br {
  border-radius: 5rem;
}

.br1 {
  border-radius: 1rem;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.brdr {
  border-right-style: solid;
  border-right-width: 1px;
}

.bn {
  border: none;
}

.bw2 {
  border-width: 0.25rem;
}
/* display */
.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.dn {
  display: none;
}

.grid {
  display: grid;
}

.h100 {
  height: 100%;
}

.h5 {
  height: 5rem;
}

.w100 {
  width: 100%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.vh100 {
  height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

/* float */
.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

/* Padding */
.p0 {
  padding: 0;
}

/* Flex */
.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}

/* Text */
.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}

.ttu {
  text-transform: uppercase;
}

.no-underline {
  text-decoration: none;
}

.list-nostyle {
  padding: 0;

  li {
    list-style-image: none;
    list-style-type: none;
  }
}

.underline {
  text-decoration: underline;
}

.underline-hover  {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: none;
}

/* object fit for img */
.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

/* margin */
.m0 {
  margin: 0;
}

.mt50 {
  margin-top: 16px;;
}

.mauto {
  margin: 0 auto;
}

@each $deep in (0, 1, 2, 3, 4) {
  .z-$(deep) {
    z-index: $deep;
  }
}

@each $class, $direction in (t, r, b, l), (top, right, bottom, left) {
  @each $margin in (0, 1, 2, 3, 4, 5, 6, 7, 8, 12) {
    .m$(class)$(margin) {
      margin-$(direction): calc($margin * 1rem);
    }
  }
}

/* padding */
@each $class, $direction in (t, r, b, l), (top, right, bottom, left) {
  @each $padding in (0, 1, 2, 3, 4, 5, 6, 8, 10, 12) {
    .p$(class)$(padding) {
      padding-$(direction): calc($padding * 1rem);
    }
  }
}

/* flex toolkit */
@each $class, $prop in (between, start, around, center, end),
  (space-between, flex-start, space-around, center, flex-end)
{
  .justify-$(class) {
    justify-content: $(prop);
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

@each $class, $prop in (start, center, end, stretch),
  (flex-start, center, flex-end, stretch)
{
  .items-$(class) {
    align-items: $(prop);
  }
}

@each $class, $prop in (between, start, around, center, end, stretch),
  (space-between, flex-start, space-around, center, flex-end, stretch)
{
  .content-$(class) {
    align-content: $(prop);
  }
}

/* Clear */
@each $class, $prop in (l, r, b, n), (left, right, both, none) {
  .c$(class) {
    clear: $(prop);
  }
}

@each $class, $prop in (l, r, b, t), (left, right, bottom, top) {
  @each $deep in (0, 1, 2, 3, 4, 5, 10, 25, 50, 75, 100) {
    .$(class)-$(deep)-px {
      $(prop): $(deep)px;
    }
    .$(class)-$(deep)-prc {
      $(prop): $(deep)%;
    }
  }
}

.b-n{
  border: none;
}

.w-50{
  width: 50%;
}

.w-100{ 
  width: 100%;
}

.opacity-60{
  opacity: 0.6;
}

.orange{
  color: #FF5D19;
}

.blue{
  color: hsla(197, 50%, 32%);
}
