{% extends 'base_dashboard.html.twig' %}







{% block body %}
<h1>Echange numéro : {{ exchange.id}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exchange.id }}</td>
            </tr>
            <tr>
                <th>id du Propriétaire</th>
                <td>{{ exchange.userOwner.id }}</td>
            </tr>
            <tr>
                <th>id du proposant</th>
                <td>{{ exchange.userOwner.id }}</td>
            </tr>
            <tr>
                <th>Id du jeu vidéo</th>
                <td>{{  exchange.game.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('exchange') }}">Retour à la liste des échanges</a>


    {{ include('admin/exchange/_delete_form.html.twig') }}
{% endblock %}
