{% extends 'base_front.html.twig' %}

{% block title %}Bienvenue sur Swap'It !{% endblock %}

{% block body %}
    <div class="row p-5">
        <img class="col-lg-6" src="{{ asset('build/swap-the-game.png') }}"/>
        <img class="col-lg-6" src="{{ asset('build/illustration-Manette.png') }}"/>
    </div>
{% endblock %}