{% extends 'base_front.html.twig' %}


{% block body %}

<title>Récapitulatif de swap</title>

<div class="container" style="display: flex; margin-top: 25px; flex-wrap: wrap; justify-content: center; background: white; border-radius: 25px;">
    
    <div class="box-swap-recap" style="display: flex; flex-wrap: wrap; justify-content: center;">
        <div class="text-wrap-title">
            <p class="font-style-title">Récapitulatif de swap</p>
        </div>

        <div class="container">
            <div style="" class="row">
                <div class="col">
                    <div class="card m-0" style="border: 3px solid rgba(40,100,124,1);">
                        <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg" alt="Card image cap">
                        <div class="card-body d-flex flex-nowrap">
                            <div class="card-text d-flex flex-wrap">
                                <h5 style="width: 100%; color: #29647C;">{{game.getName}}</h5>
                                {# <h6 style="width: 100%;">{{igdb.getGenres(game.getId)}}</h6> #}
                                <h7 style="width: 100%; color: #29647C;">{{game.getFirstReleaseDate|format_datetime('short', 'none', locale='en')}}</h7>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="text-align: center; width: 120%;">
                        <h4 style="margin: 10px; color: #29647C;">Jeu de {{owner.getUsername|capitalize}}</h4>
                    </div>
                </div>

                <div class="col-sm d-flex justify-content-center" style="align-items: center;">
                    <div class="swap-arrow"><img style="width: 100px; margin-bottom: 12px; margin-left: 10px;" src="{{ asset('build/swap.png') }}"/></div>
                </div>

                <div class="col">
                    <div class="card m-0" style="border: 3px solid rgba(40,100,124,1);">
                        <img class="card-img-top" src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(gameSelected.getId) }}.jpg" alt="Card image cap">
                        <div class="card-body d-flex flex-nowrap">
                            <div class="card-text d-flex flex-wrap">
                                <h5 style="width: 100%; color: #29647C;">{{ gameSelected.getName}}</h5>
                                {# <h6 style="width: 100%;">{{igdb.getGenres(gameSelected.getId)}}</h6> #}
                                <h7 style="width: 100%; color: #29647C;">{{ gameSelected.getFirstReleaseDate|format_datetime('short', 'none', locale='en') }}</h7>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" style="text-align: center; width: 120%;">
                        <h4 style="margin: 10px; color: #29647C;">Ton jeu</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end" style="width: 100%;">
            <a href="{{ path('validate_swap', {'user': user.getId, 'selected_game': gameSelected.getId, 'ownerGame': game.getId, 'owner': owner.getId} ) }}" type="button" class="btn btn-primary btn-lg" style="background-color: #FF5D19; margin: 15px; border-radius: 10px; border-color:#FF5D19">
                Envoyer la demande de swap
            </a>
        </div>
    </div>
</div>



{% endblock %}
