{% extends 'base_front.html.twig' %}


{% block body %}

<title>Les jeux</title>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light amd-sidebar" style="width: 350px;">

    {# <h2 style="color:#FF5D19; margin-top: 15px;">Recherche par nom</h2>
    <form style="margin-top: 10px;" role="search" class="d-flex" method="GET" action="{{ path('search') }}">
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </br> #}
    
    <div class="dispositif-filter-wrapper">
        <h2 style="color: #29647C; margin-top: 15px; font-size: 20px;">Recherche avancé</h2>
        <div class="dropdown-style-bar">
            <button style="border:none;" class="btn-dropdown"><img style="width: 30px;" src="{{ asset('build/down-arrow.png') }}"></button>
        </div>
        <div class="filter-wrapper">
            <div id="filter-dropdown1" class="filter-display-none">
                {{ include('front/games/components/searchFilter/_search_filter.html.twig') }}
            </div>
        </div>
    </div>

    <hr>
</div>

<div class="amd-main_content">
    <h1 style="color:#FF5D19; margin-top: 15px;">Jeux populaires</h1>
        <div class="card-container">
            {% for game in games %}
                <div class="card-games" style="width: 14.1rem;">
                    <img style="width:224px; border-radius: 20px 20px 0px 0px" src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg" class="card-img-top" alt="...">
                    <div class="card-game-body">
                        <h5 style="text-align: center;" class="card-title title-orange">{{ game.getName|striptags|length > 20 ? game.getName|striptags|slice(0, 15) ~ '...' : game.getName}}</h5>
                        <p class="card-text text-secondary align-text"></p>
                        <div class="btn-wrapper">
                            <a class="button btn-details btn-details-games" href="{{ path('show', {'id': game.id}) }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination-render" style="margin-top: 35px; display: flex; justify-content: center; align-items: center;">
            {{ knp_pagination_render(games) }}
        </div>
</div>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .btn-wrapper{ display: flex; justify-content: center; align-items: center; }
        body {background-color: #ECECEC; }
        .card {border-radius: 20px; margin-left:20px; margin-top: 20px;}
        .card-container{ 
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: center;
        }
        .title-orange{
            color:#FF5D19; 
        }
        .align-text{
            text-align: center;
        }
    </style>

{% endblock %}
