{% extends 'base_front.html.twig' %}

{% block body %}

	<style>
		.cover-game {
			position: relative;
		}

		.cover-game::after {
			background-image: url('//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 15px;
			background-position: 50% 36%;

			content: "";
			opacity: 0.2;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
		}

		.game-card {
			font-style: normal;
			font-weight: bold;
			color: #29647C;
		}

		h1 {
			font-style: normal;
			font-weight: bold;
			color: #FF5D19;
		}

		.desc-game {
			font-weight: bold;
			font-size: 13px;
		}

		body {
			background-color: #E5E5E5
		}

		.line {
			border-left: 4px solid #29647C;
			height: 80px;
			display: inline-block;
		}

		.swapper {
			background: #FF5D19;
			box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
			border-radius: 0px 0px 5px 5px;
		}

		.numbers {
			font-style: normal; 
			font-size: 4rem; 
			color: #29647C; 
			margin: 0;
		}
	</style>


	<div class="container cover-game game-card mt-4 mb-4 pt-3 pb-3">
		<div class="row">
			<div class="col-md-auto">
				<img src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg" style="width:185px; border-radius: 10px;"></img>
			</div>

			<div class="col-md-6">
				<div class="title-game">
					<h1 class="shadow-text">{{game.getName}}</h1>
					<div class="desc-game">
						<p>{{game.getSummary|striptags|length > 620 ? game.getSummary|striptags|slice(0, 580) ~ '...' : game.getSummary|striptags }}</p>
					</div>
				</div>
			</div>

			<div style="margin-top: 5px;" class="col">
				<p>Sortie :
					{{ game.getFirstReleaseDate|format_datetime('short', 'none', locale='en') }}</p>
				<p>Genre :
			
				{% for genre in genres %}
					<a style="color:white" href="{{ path('searchGenreGames', {'genre':genre.getId}) }}" class="btn btn-info">{{genre.getName}}</a>
					</p>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="row d-flex justify-content-around">
		{% for owner in owners %}
			{% if owner.getId is not same as(app.user.id) %}
				<div class="col-sm-auto mb-4">
					<div class="bg-white justify-content-md-center align-items-center" style="text-align: center; border-radius: 20px 20px 20px 0px">
						<div class="row p-3">
							<div class="col-sm-auto">
								<a href="{{ path('user_profile', {'user': owner.getId}) }}"><img style="box-sizing: border-box;" width="80" src="https://i.ibb.co/4FpNQRb/user2.png"></img></a>
								
								<h3 style="margin-top: 9px; font-style: normal; font-weight: bold; font-size: 16px;; color: #29647C;">
									{{owner.getUsername|capitalize }}
								</h3>
							</div>
							
							<div class="col-sm-auto">
								<h3 style="font-style: normal; font-size: 12px; color: #29647C; margin: 0;">
									Echanges
								</h3>
								
								<h1 class="numbers">
									{{owner.getExchanges|length}}
								</h1>
								
								<img src="{{ asset('build/swap-arrow.svg') }}" width="70" height="20"/>
							</div>

							<div class="col-sm-auto" style="padding: 0;"><span class="line"></span></div>

							<div class="col-sm-auto">
								<h3 style="font-style: normal; font-size: 12px; color: #29647C; margin: 0;">
									Jeux Possédés
								</h3>
								
								<h1 class="numbers">
									{{owner.getOwnGames|length}}
								</h1>
					
								<img src="{{ asset('build/check.svg') }}" width="70" height="20"/>
							</div>

							<div class="col-sm-auto" style="padding: 0;"><span class="line"></span></div>

							<div class="col-sm-auto">
								<h3 style="font-style: normal; font-size: 12px; color: #29647C; margin: 0;">
									Jeux Souhaités
								</h3>
								
								<h1 class="numbers">
									{{(owner.getWishGames|length)}}
								</h1>
								
								<img src="{{ asset('build/heart.svg') }}" width="75" height="25"/>
							</div>
						</div>
					</div>
			{% endif %}
			{% if app.user.getEmail != owner.getEmail %}
				<div class="btn-wrapper absolute">
					<a class="button btn-swap" href="{{ path('swap_game', {'id': owner.getId, 'id_game': game.getId}) }}" class="btn btn-primary" style="border-radius: 0 0 0px 10px;">Swapper</a>
					<a class="button btn-message" href="{{ path('createChannel', {'receiver': owner.getId}) }}" class="btn btn-primary" style="border-radius: 0 0 10px 0px;">Contacter</a>
				</div>
			{% endif %}
			</div>
				</div>
		{% endfor %}
	</div>

	{#
		<div class="flex-container">
			<div class="cover-game">
				<div class="box blue">
					<div class="img-big-left">
						<img src="//images.igdb.com/igdb/image/upload/t_1080p/{{ igdb.getGameCovers(game.getId) }}.jpg" style="width:125px; height: fit-content; border-radius: 10px;"></img>
				</div>
				<div class="info-game-content">
					<div class="title-game">
						<h2 class="title-orange shadow-text">{{game.getName}}</h2>
						<div class="desc-game">
							<p class="font-style-game shadow-text">{{game.getSummary|striptags|length > 620 ? game.getSummary|striptags|slice(0, 580) ~ '...' : game.getSummary|striptags }}</p>
						</div>
					</div>
				</div>
				<div class="date-release">
					<div class="info-spec-game">
						<p class="font-style-game">Sortie :
							{{ game.getFirstReleaseDate|format_datetime('short', 'none', locale='fr') }}</p>
						<p class="font-style-game">Genre :
							{{var_dump(genres)}}</p>
					</div>
				</div>
				<div class="genre"></div>
				<div class="rate-game"></div>
			</div>
		</div>
		{% for owner in owners %}
			<div class="box red top-margin">
				<p>
					{{owner.getUsername}}
				</p>
				<div class="btn-wrapper">
					<a style="" href="{{ path('swap_game', {'id': owner.getId, 'id_game': game.getId}) }}" class="btn btn-primary">Swapper</a>
				</div>
			</div>
		{% endfor %}
		<div class="box green top-margin"></div></div>
	#}

{% endblock %}
