{% extends 'base_dashboard.html.twig' %}



{% block body %}

<div class="row align-content-center .bg-transparent mb-5">
  <div class="col-lg-3"></div>
  <div class="col">
    <div class="card   bg-light" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">Échanges {{ exchanges|length }} </h5>
        <a name="" id="" class="btn btn-secondary" href=" {{ path('exchange') }}" role="button">Voir les échanges</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  bg-light" style="width: 14rem;">
      <div class="card-body">
        <h5 class="card-title">Commentaires {{ comments|length}} </h5>
        <a name="" id="" class="btn btn-secondary" href="{{ path('comment_index') }}" role="button">Voir les commentaires</a>
      </div>
    </div>
  </div>
  
    <div class="col-lg-3"></div>

</div>

 <h2> Liste des utilisateurs ({{ users|length}})</h2>
          <a name="" id="" class="btn btn-primary" href="{{path("user_new")}}" role="button">Ajouter un utilisateur</a>
</div>
<div class=" container bg-white mt-4">


  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
        </header>

        <table class="table table-striped table-advance table-hover mt-3">
          <tbody>
            <tr>
              <th><i class="far fa-address-card"></i> ID</th>
              <th><i class="icon_calendar"></i> Username </th>
              <th><i class="icon_calendar"></i> Email</th>
              <th><i class="icon_mail_alt"></i> Rôles </th>
              <th><i class="icon_pin_alt"></i> Actions</th>

            </tr>
            {% for user in users %}
            <tr>
              <th scope="row ">{{user.id}}</th>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>
                {% for role in user.roles %}
                {% if role == "ROLE_USER" %}
                Utilisateur
                {% elseif role == "ROLE_ADMIN" %}
                Administrateur
                {% elseif role == "ROLE_EDITOR" %}
                Editeur
                {% endif %}
                {% endfor %}
              </td>
              <td>

                <a class="btn btn-warning" href="{{ path('modifier_utilisateur',  { 'id' : user.id }) }}"> <i
                    class="fas fa-user-edit"></i></a>
                <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}"><i
                    class="fas fa-eye"></i></a>

                {# <a class="btn btn-danger" href="#"><i class="icon_plus_alt2"></i></a> #}
                {# <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                        <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a> #}
              </td>
            </tr>
            {% else %}

            <tr>
              <td colspan="4">Aucun commentaire trouvé</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </section>
    </div>
  </div>


</div>
{% endblock %}