{% extends 'base_dashboard.html.twig' %}

{% block body %}
    <h1>Ajout d'un nouvel utilisateur</h1>
    <div class="container bg-white mt-3">
    {{ include('admin/user/_form.html.twig') }}
    </div>
    {# <a  class="btn btn-primary" href="{{ path('user') }}" role="button">Revenir à la liste des utilisateurs</a> #}
{% endblock %}
