{% extends 'base_dashboard.html.twig' %}

{% block body %}
<h1>Utilisateur : {{ user.username }}</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td> {{user.email}}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                {% for role in user.roles %}
                {% if role == "ROLE_USER" %}
                Utilisateur
                {% elseif role == "ROLE_ADMIN" %}
                Administrateur
                {% elseif role == "ROLE_EDITOR" %}
                Editeur
                {% endif %}
                {% endfor %}</td>
        </tr>

    </tbody>
</table>

{{ include('admin/user/_delete_form.html.twig') }}
<h2> Comentaires écrit par {{ user.username}} </h2>

{{dump(user.userComments)}}
<table class="table">
    <thead>
        <tr>
            <th>id du commentaire</th>
            <th>contenu</th>
            {# <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
            <th>date de création</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<a name="" id="" class="btn btn-primary" href="{{ path('user') }}" role="button">Revenir à la liste des utilisateurs</a>

{% endblock %}