{% extends 'base_front.html.twig' %}

{% block title %}Email de pour reset le mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Un email a été envoyé contenant un lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu l'email veuillez vérifier vos spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a></p>
{% endblock %}
