<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href='{{asset('build/app.css')}}'/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="{{path('home')}}">
                <img src="{{ asset('build/logo.png') }}" width="70" height="50"/>
                <img src="{{ asset('build/logo-text.png') }}" width="110" height="40"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-bar-container" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active icon-nav" aria-current="page" href="{{path("games")}}"><img src="{{ asset('build/gamepad.png') }}" width="35" height="auto"/></a>
                    </li>
                </ul>
                <form role="search" class="d-flex w-50" method="GET" action="{{ path('search') }}">
                    <input class="s-bar me-2" type="search" name="search" placeholder="Rechercher un jeu" aria-label="Search">
                    <button class="button btn-see bn" type="submit">Rechercher</button>
                </form>
                <ul class="navbar-nav justify-contend-end" style="    display: flex; align-items: center; justify-content: space-around;">
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link active icon-nav" aria-current="page" href="{{path("login")}}"><img src="{{ asset('build/user.png') }}" width="35" height="auto"/></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active icon-nav" aria-current="page" href="{{path("registration")}}"><img src="{{ asset('build/id.png') }}" width="46" height="auto"/></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active icon-nav" aria-current="page" href="{{path('userowngameslists')}}"><img src="{{ asset('build/check.svg') }}" width="35" height="auto"/></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active icon-nav" aria-current="page" href="{{path('userwishgameslists')}}"><img src="{{ asset('build/heart.svg') }}" width="25" height="auto"/></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active icon-nav" aria-current="page" href="{{path('channel')}}"><img src="{{ asset('build/mail.png') }}" width="27" height="auto"/></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link icon-nav" href="{{path("user_profile")}}"><img style="width:25px; height:25px" src="{{ asset('build/user.svg') }}"></img></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-nav" href="{{path("logout")}}"><img style="width:25px; height:25px" src="{{ asset('build/logout.svg') }}"></img></a>
                    </li>
                {% endif %}
                </ul>
            </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
        </div> 
    </body>
</html>
